@media (max-width: 768px) {
  .gallery-container {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left !important;
  }

  .thumbnail {
    width: 80vw !important;
  }
}
